:root {
  --primary-bg-color: #a3b5a9;
  --text-color: #2f3542;
  --main-bg-color: #dfe4ea;
  --main-text-color: #2f3542;
  --main-btn-bg-color: #ffffff;
  --border-color: #dcdde1;
}

/* For my colour choices, I went for a green saturated colour palette*/

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}


body {

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header styling */
header {
    text-align: center;
    margin: 20px;
}

header h1 {
  font-size: 2.5rem;
  font-weight:bold;
  margin: 5px;
}

header h2 {
 margin: 5px;
 font-size: 1.5rem;
}

.study-progress {
  font-size: 2rem;
  margin: 10px;
  background: #89999a;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
  outline: 3px;
  outline-style:solid;
  outline-color: #7f9385;
}

.timer-display {
  font-size: 4rem;
  font-weight:normal;
  margin: 5px 0;
  color: var(--text-color);
}

/* Navigation styling */
nav {
  margin-top: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 60px;
    display: flex;
     justify-content: center; 
      align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

.custom-controls button {
  background-color: #ece4d7;
  color: var(--main-text-color);
  border: 1px solid var(--border-color);
  padding: 23px 45px;
  border-radius: 60px;
  margin: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: 3px;
  outline-style:solid;
  outline-color: #6e8486;
  transition:(var(--main-text-color)) 0.3s ease;
}

.custom-controls button:hover {
  transform: scale(1.1);
}

.progress-bar {
  align-items: center;
  margin: 40px;
  width: 750px;
  height: 20px;
  background-color: #ece4d7;
  border-radius: 999px;
  overflow: hidden;
  outline: 3px;
  outline-style: solid;
  outline-color: #6e8486;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #ddc8b7;
  width: 0;
  transition: width 0.3s ease;
}

footer {
  margin: 25px;
}